#Unit tests
/reports/

#Javadoc
/doc/java/

#LaTeX-specific
#* TeXnicCenter projects
/doc/**/*.tps
#* Intermediate build files
/doc/**/*.aux
/doc/**/*.log
/doc/**/*.out
/doc/**/*.toc
#* Final documents
/doc/**/*.pdf

#Binaries
/build/
/code/res/
/gamebox.jar
/savegame.dat

#Useless backups
/doc/*.dia~