H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #0000ff; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 16px; FONT-FAMILY: "Times New Roman", Times, serif; TEXT-ALIGN: justify
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; FONT-FAMILY: "Times New Roman", Times, serif
}
LI {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 16px; FONT-FAMILY: "Times New Roman", Times, serif; LIST-STYLE-TYPE: disc; TEXT-ALIGN: justify
}
A {
	FONT-SIZE: 16px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: "Times New Roman", Times, serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff0000; FONT-FAMILY: "Times New Roman", Times, serif
}
TD {
	FONT-SIZE: 16px; FONT-FAMILY: "Times New Roman", Times, serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: "Times New Roman", Times, serif
}
